.ytp-play-progress {
    padding: 2.5px 1px;
    top: -2px;
    /* pretty rainbow */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0.00, blue),
    color-stop(17%, #2484bc),
    color-stop(33%, #2484bc),
    color-stop(50%, #00bfff),
    color-stop(67%, #00bfff),
    color-stop(83%, #00bfff));
}

.ytp-scrubber-container {
    /* nyanimated gif */
    background: url('chrome-extension://__MSG_@@extension_id__/gif/sans-undertale-dance.gif') -80% -100% / 36px no-repeat;
    background-size: 27px;
    width: 40px;
    height: 24px;
    margin-top: -4px;
}

.ytp-scrubber-button.ytp-swatch-background-color {
    background: none;
}


/*
.ytp-scrubber-container:hover {
    background-size: 27px;
    margin-top: -6px;
    margin-left: -2px;
}

.ytp-scrubber-button {
    display: none;
}*/

